/*ALL PAGES*/
.header-one {
    background-color: #011F4B;
    color: #fff;
    margin-bottom: 5rem;
    padding: 2rem 1rem;
    text-align: left;
    display: flex;
    height: 150px;
}

.navbar{
    margin-left: 40rem
}

.container-fluid{
    background-color: #011F4B !important;
    border: none;
}

.lighter-link {
    color: #87CEEB !important; /* Or any lighter color, like #eee, #fff, #cce */
  }

  @media (max-width: 600px) {
    .navbar {
      display: flex;
      justify-content: flex-end;
    }
  }

.no-underline {
    text-decoration: none;
}

.body-one {
    background-color: #F7F9FC;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.page-link{
    color: #87CEEB !important;
    outline: 1px solid #87CEEB !important;
}


.pagination{
    margin-top: 65px;
    margin-left: 500px;
}
/*INDEX*/
.logo{
    object-fit: cover;
    text-align: left;
    position: relative;
    top: -114px;
    margin-left: 0;
    position: relative;
    left: -58px;
    width: 500px;
    height: 300px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.my-h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: #011F4B;
}

.my-h2:hover {
    color: #87CEEB;
    transition: color 1s ease-in-out;
}


h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    padding-top: 75px;
    color: #87CEEB;
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    padding-top: 75px;
    color: #87CEEB;
}

.small-section, .smaller-section{
    display: inline-block;
    width: 42%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-bottom: 1px;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    background-color: #e3efff; /* Adds a background color */
    height: 200px;
    margin-right: 35px
}

.small-section:hover {
    background-color: #011F4B;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}
.smaller-section:hover {
    background-color: #011F4B;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}



/*SHELVES*/

.my-h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 71.5px;
    margin-top: -3px;
}

.sectionbone{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}

.bookone{
    font-family: 'DM Serif Text', sans-serif;
    font-size: 20px;
    margin-bottom: 5rem;
    margin-left: 35px;
    color: #000000;
}

.Hungergames{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}

.hungerd{
    margin-top: -17rem;
    margin-left: 16rem;
    font-family: 'DM Serif Text', sans-serif;
    font-size: 14px;
    color: #011F4B;
}

.sectionbtwo{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: 2rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}

.booktwo{
    font-family: 'DM Serif Text', sans-serif;
    font-size: 20px;
    margin-bottom: 5rem;
    margin-left: 35px;
    color: #000000;
}

.guts{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}



.sectionbthree{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: 6rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}

.bookthree{
    font-family: 'DM Serif Text', sans-serif;
    font-size: 20px;
    margin-bottom: 5rem;
    margin-left: 35px;
    color: #000000;
}

.Oliver{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}

.sectionbfour{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}

.sectionbfive{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: 2rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}

.sectionbnine{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: 6rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}

.sectionbseven{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}

.sectionbeight{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: 2rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}

.sectionbnine{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: 6rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}

.black{
    color: black;
}

#mycheckbox{
    width: 20px;
    height: 20px;
    position: relative;
    top: -87px;
    right: -1150px;
    color: #011F4B;
}

label {
    position: relative;
    top: -90px; /* Adjust this value to move the text up */
    right: -1149px;
    font-family: 'DM Serif Text', sans-serif;
    font-size: 13px;
}

#mylabel3{
     position: relative;
    top: -90px; /* Adjust this value to move the text up */
    right: -1120px;
    font-family: 'DM Serif Text', sans-serif;
    font-size: 13px;
}

#mycheckbox1{
    width: 20px;
    height: 20px;
    position: relative;
    top: -87px;
    right: -1150px;
    color: #011F4B;
}

#mycheckbox2{
    width: 20px;
    height: 20px;
    position: relative;
    top: -87px;
    right: -1150px;
    color: #011F4B;
}

#mycheckbox3{
    width: 20px;
    height: 20px;
    position: relative;
    top: -87px;
    right: -1050px;
    color: #011F4B;
}

#mycheckbox4{
    width: 20px;
    height: 20px;
    position: relative;
    top: -87px;
    right: -1150px;
    color: #011F4B;
}

#mycheckbox5{
    width: 20px;
    height: 20px;
    position: relative;
    top: -87px;
    right: -1150px;
    color: #011F4B;
}

#mycheckbox6{
    width: 20px;
    height: 20px;
    position: relative;
    top: -87px;
    right: -1150px;
    color: #011F4B;
}

#mycheckbox7{
    width: 20px;
    height: 20px;
    position: relative;
    top: -87px;
    right: -1150px;
    color: #011F4B;
}

#mycheckbox8{
    width: 20px;
    height: 20px;
    position: relative;
    top: -87px;
    right: -1150px;
    color: #011F4B;
}
/*NEW BOOKS*/
.my-h6{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    margin-top: -3px;
    text-align: center;
}

.reaping{
    position: relative;
    top: -70px;
    position: reletative;
    left: 38px;
}

.partypooper{
    position: relative;
    top: -70px;
    position: reletative;
    left: 38px;
}

.triple{
    position: relative;
    top: -70px;
    position: reletative;
    left: 38px;
}

/*FAVORITE BOOKS*/
.my-h7{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 41px;
    margin-top: -3px;
    text-align: left;
}

.Percy{
    position: relative;
    top: -70px;
    position: reletative;
    left: 38px;
}

.Harry{
    position: relative;
    top: -70px;
    position: reletative;
    left: 38px;
}

.Keeper{
    position: relative;
    top: -70px;
    position: reletative;
    left: 38px;
}








  /*BOOK LISTS*/

  .body-two {
    background-color: #e3efff;
}

  .my-h8{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 53.5px;
    margin-top: -3px;
    text-align: left;
}

.my-h17{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    color: #011F4B;
}


.sectionuno, .sectiondos, .sectionthres, .sectioncuatro{
    display: inline-block;
    width: 15%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: 20px;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    background-color: #F7F9FC; /* Adds a background color */
    height: 100px;
    margin-right: 13px
}

.sectionuno:hover {
    background-color: #e3efff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.sectiondos:hover {
    background-color: #e3efff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.sectionthres:hover {
    background-color: #e3efff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.sectioncuatro:hover {
    background-color: #e3efff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.sectioncinco, .sectionseis, .sectionsevan, .sectionocho{
    display: inline-block;
    width: 15%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: 20px;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    background-color: #F7F9FC; /* Adds a background color */
    height: 100px;
    margin-right: 13px
}

.sectioncinco:hover {
    background-color: #e3efff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.sectionseis:hover {
    background-color: #e3efff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.sectionsevan:hover {
    background-color: #e3efff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.sectionocho:hover {
    background-color: #e3efff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.my-h11{
    font-family: 'DM Serif Text', sans-serif;
    font-size: 20px;
    color: #011F4B;
    text-align: center;
    margin-top: 25px;
}


.back-link{
    text-decoration: none;
    position: relative; /* Positioning */
    right: 120px;
    margin-top: 80px;
    font-family: 'DM Serif Text', sans-serif;
    color: #e3efff;
}

.back-link:hover{
    color: #87CEEB;
    transition: color 0.5s ease-in-out;
}

.sectionlone{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}


.piggie{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}

.sectionltwo{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}


.cat{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}

.sectionlthree{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}


.magic{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}

.sectionlfour{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}


.dork{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}

.sectionlfive{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}


.onyeka{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}

.sectionlsix{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}


.michael{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}

.sectionlseven{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}


.martian{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}

.sectionleight{
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    vertical-align: top; /* Aligns the sections at the top */
    margin-top: -4rem;  /* Moves the section down */
    font-size: 0.8em;  /* Makes the text smaller */
    height: 260px;
    margin-right: 35px;
}


.habits{
    position: relative;
    top: -70px;
    position: relative;
    left: 38px;
}
/*ABOUT MISSION
.my-h9{
    font-family: 'Shrikhand', sans-serif;
    font-size: 45px;
    margin-top: -3px;
    text-align: left;
}*/



/*CONTACT*/
.my-h10{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 49px;
    margin-top: -3px;
    text-align: left;
}

.contactpara, .para2, .para3{
    position: relative;
    top: -20px;
    position: reletative;
    left: 38px;
    font-family: 'DM Serif Text', sans-serif;
    font-size: 25px;
}

.emailus{
    position: relative;
    top: -2px;
    position: reletative;
    left: 80px;
    font-family: 'DM Serif Text', sans-serif;
    font-size: 25px;
}

.email{
    position: relative;
    top: -30px;
    position: reletative;
    left: 200px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
}

.fake{
    position: relative;
    top: 140px;
    position: reletative;
    left: 500px;
    font-family: 'DM Serif Text', sans-serif;
    font-size: 12px;
    font-style: italic;
}






















    /* margin-left: 20px; /* Moves the section to the right */
    /*margin-top: 20px;  /* Moves the section down */
    /*font-size: 0.8em;  /* Makes the text smaller */
    /*background-color: #e3efff; /* Adds a background color */
    /*width: 40%;
    height: 200px;
}

.smaller-section {
    margin-right: 20px; /* Moves the section to the right */
    /*margin-top: 20px;  /* Moves the section down */
    /*font-size: 0.8em;  /* Makes the text smaller */
    /*background-color: #e3efff; /* Adds a background color */
    /*width: 40%;
    height: 200px;

    /*

    .dropdown {
    position: absolute;
    top: 40px; /* adjust this value until it hits the line */
    /*left: 1100px; /* adjust as needed */
    /*}

}*/




/*BBBBBBBBBBBBBBBUUUUUUUUUUUUUUUUUTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTOOOOOOOOOOOOOOOOONNNNNNNNNNNNNSSSSSSSSSSSSSSS*/
#Button1 {
    position: relative;
    top: -150px; /* move up */
    left: 1150px; /* move right */
    background-color: #e3efff;
    border: 1px solid #011F4B;
    border-radius: 10px;
    color: #011F4B;
    font-family: 'DM Serif Text', sans-serif;
    width: 100px;
    height: 40px;
    font-size: 13px;
}

#Button2 {
   position: relative;
    top: -150px; /* move up */
    left: 1150px; /* move right */
    background-color: #e3efff;
    border: 1px solid #011F4B;
    border-radius: 10px;
    color: #011F4B;
    font-family: 'DM Serif Text', sans-serif;
    width: 100px;
    height: 40px;
    font-size: 13px;
}

#Button3 {
   position: relative;
    top: -150px; /* move up */
    left: 1150px; /* move right */
    background-color: #e3efff;
    border: 1px solid #011F4B;
    border-radius: 10px;
    color: #011F4B;
    font-family: 'DM Serif Text', sans-serif;
    width: 100px;
    height: 40px;
    font-size: 13px;
}

#Button4 {
    position: relative;
    top: -150px; /* move up */
    left: 1150px; /* move right */
    background-color: #e3efff;
    border: 1px solid #011F4B;
    border-radius: 10px;
    color: #011F4B;
    font-family: 'DM Serif Text', sans-serif;
    width: 100px;
    height: 40px;
    font-size: 13px;
}

#Button5 {
    position: relative;
    top: -150px; /* move up */
    left: 1150px; /* move right */
    background-color: #e3efff;
    border: 1px solid #011F4B;
    border-radius: 10px;
    color: #011F4B;
    font-family: 'DM Serif Text', sans-serif;
    width: 100px;
    height: 40px;
    font-size: 13px;
}

#Button6 {
    position: relative;
    top: -150px; /* move up */
    left: 1150px; /* move right */
    background-color: #e3efff;
    border: 1px solid #011F4B;
    border-radius: 10px;
    color: #011F4B;
    font-family: 'DM Serif Text', sans-serif;
    width: 100px;
    height: 40px;
    font-size: 13px;
}

#Button7 {
    position: relative;
    top: -150px; /* move up */
    left: 1150px; /* move right */
    background-color: #e3efff;
    border: 1px solid #011F4B;
    border-radius: 10px;
    color: #011F4B;
    font-family: 'DM Serif Text', sans-serif;
    width: 100px;
    height: 40px;
    font-size: 13px;
}

#Button8 {
    position: relative;
    top: -150px; /* move up */
    left: 1150px; /* move right */
    background-color: #e3efff;
    border: 1px solid #011F4B;
    border-radius: 10px;
    color: #011F4B;
    font-family: 'DM Serif Text', sans-serif;
    width: 100px;
    height: 40px;
    font-size: 13px;
}

#Button9 {
    position: relative;
    top: -150px; /* move up */
    left: 1150px; /* move right */
    background-color: #e3efff;
    border: 1px solid #011F4B;
    border-radius: 10px;
    color: #011F4B;
    font-family: 'DM Serif Text', sans-serif;
    width: 100px;
    height: 40px;
    font-size: 13px;
}

